<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Assessment personnel">Check your answers</esos-page-heading>

  <ng-container *ngIf="vm.data">
    <h2 class="govuk-heading-m">
      List the persons who have carried out a significant proportion of site visits and/or gathering the data used for
      carrying out the energy audit, and/or drafting sections of the ESOS report
    </h2>

    <esos-personnel-list-template
      [isEditable]="vm.isEditable"
      [personnel]="vm.data.personnel"
      [queryParams]="vm.queryParams"
      [prefix]="vm.prefix"
    ></esos-personnel-list-template>

    <div class="govuk-body" *ngIf="vm.isEditable">
      <a govukSecondaryButton [routerLink]="wizardStep.STEP_FORM" type="button">Add person</a>
    </div>
  </ng-container>

  <button *ngIf="vm.isEditable && !vm.isSubTaskCompleted" (click)="submit()" govukButton type="button">
    Confirm and continue
  </button>
</ng-container>
