<esos-page-heading size="xl">We have sent a verification to your email address</esos-page-heading>
<p class="govuk-body">
  We have sent a verification email to <strong>{{ email }}</strong>
</p>
<p class="govuk-body">The link will expire in 30 minutes.</p>
<govuk-details summary="I did not get an email">
  <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
    If you have not received the email after a few minutes, check your spam or junk folder. The subject of the email is
    ‘Confirm your email address - Energy Savings Opportunity Scheme’.
  </p>
  <p class="govuk-!-padding-left-3 govuk-!-padding-bottom-3">
    You can <a href="/registration/email">enter your email address again</a> if it still has not arrived.
  </p>
</govuk-details>
