<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Do you have any data on the proportion of energy savings achieved which relate to recommendations from different sources?"
  caption="Energy savings achieved"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <div formControlName="energySavingsRecommendationsExist" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes"> </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
  </div>
</esos-wizard-step>
