<ng-container *ngIf="(confirmedAddedRegulator$ | async) === null; else regulatorAdded">
  <govuk-error-summary *ngIf="isSummaryDisplayed$ | async" [form]="form"></govuk-error-summary>
  <esos-page-heading>{{ (userId$ | async) ? 'User details' : 'Add a new user' }}</esos-page-heading>
  <form (ngSubmit)="submitForm()" [formGroup]="form">
    <div formGroupName="user">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <fieldset govukFieldset id="name">
            <legend govukLegend>Name</legend>
            <div
              autoComplete="given-name"
              formControlName="firstName"
              govuk-text-input
              label="First name"
              widthClass="govuk-!-width-one-half"
            ></div>
            <div
              class="govuk-!-margin-bottom-8"
              autoComplete="family-name"
              formControlName="lastName"
              govuk-text-input
              label="Last name"
              widthClass="govuk-!-width-one-half"
            ></div>
            <div
              autoComplete="organisation-title"
              formControlName="jobTitle"
              govuk-text-input
              label="Job title"
              widthClass="govuk-!-width-one-half"
            ></div>
            <div
              autoComplete="email"
              formControlName="email"
              govuk-text-input
              label="Email address"
              hint="All system alerts, notices and official communications will always be sent by email."
              widthClass="govuk-!-width-one-half"
            ></div>
          </fieldset>
          <fieldset govukFieldset id="phoneNumber">
            <legend govukLegend>Phone number</legend>
            <div
              autoComplete="tel-national"
              formControlName="phoneNumber"
              govuk-text-input
              label="Phone number 1"
              widthClass="govuk-!-width-one-half"
            ></div>
            <div
              class="govuk-!-margin-bottom-8"
              autoComplete="mobile tel-national"
              formControlName="mobileNumber"
              govuk-text-input
              label="Phone number 2 (optional)"
              widthClass="govuk-!-width-one-half"
            ></div>
          </fieldset>
        </div>
      </div>
    </div>

    <div *ngIf="allowEditPermissions$ | async as permissions" class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Set base permissions</h2>
        <div class="govuk-button-group">
          <button
            (click)="setBasePermissions('regulator_admin_team')"
            govukSecondaryButton
            id="regulator_admin_team"
            type="button"
            [attr.aria-pressed]="basePermissionSelected === 'regulator_admin_team'"
          >
            Admin team
          </button>
          <button
            (click)="setBasePermissions('regulator_technical_officer')"
            govukSecondaryButton
            id="regulator_technical_officer"
            type="button"
            [attr.aria-pressed]="basePermissionSelected === 'regulator_technical_officer'"
          >
            Technical officer
          </button>
          <button
            (click)="setBasePermissions('regulator_team_leader')"
            govukSecondaryButton
            id="regulator_team_leader"
            type="button"
            [attr.aria-pressed]="basePermissionSelected === 'regulator_team_leader'"
          >
            Team leader
          </button>
          <button
            (click)="setBasePermissions('ca_super_user')"
            govukSecondaryButton
            id="ca_super_user"
            type="button"
            [attr.aria-pressed]="basePermissionSelected === 'ca_super_user'"
          >
            Regulator superuser
          </button>
          <button
            (click)="setBasePermissions('service_super_user')"
            govukSecondaryButton
            id="service_super_user"
            type="button"
            [attr.aria-pressed]="basePermissionSelected === 'service_super_user'"
          >
            Service superuser
          </button>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-s">Customise Permissions</h2>

        <div [formGroupName]="'permissions'">
          <govuk-table [columns]="tableColumns" [data]="tableRows">
            <ng-template let-column="column" let-row="row">
              <ng-container *ngIf="column.field === 'task' || column.field === 'type'">
                {{ row[column.field] }}
              </ng-container>

              <ng-container *ngIf="allowEditPermissions$ | async; else nonEditable">
                <ng-container *ngIf="permissionGroups$ | async as permissionGroups">
                  <div
                    *ngIf="permissionGroups[row.permission] | includes : column.field"
                    [formControlName]="row.permission"
                    [index]="column.field"
                    [value]="column.field"
                    esos-radio-option
                  >
                    <ng-container label>
                      <span class="govuk-visually-hidden">{{ column.header }}</span>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-container>
              <ng-template #nonEditable>
                <ng-container *ngIf="userPermissions$ | async as userPermissions">
                  <div
                    *ngIf="userPermissions[row.permission] === column.field"
                    [id]="'check-' + row.permission + '-' + column.field"
                  >
                    <strong>&#10004;</strong>
                  </div>
                </ng-container>
              </ng-template>
            </ng-template>
          </govuk-table>
        </div>
      </div>
    </div>

    <esos-two-fa-link
      *ngIf="isLoggedUser$ | async; else otherRegulatorUser"
      [title]="'Change two factor authentication'"
      [link]="'/2fa/change'"
    >
    </esos-two-fa-link>
    <ng-template #otherRegulatorUser>
      <esos-two-fa-link
        *ngIf="(allowEditPermissions$ | async) && (userId$ | async)"
        [title]="'Reset two-factor authentication'"
        [link]="'2fa/reset-2fa'"
        [userId]="userId$ | async"
        [userName]="userFullName"
        [role]="'REGULATOR'"
      >
      </esos-two-fa-link>
    </ng-template>

    <button esosPendingButton govukButton type="submit">
      {{ userId$ | async | submitIfEmpty }}
    </button>
  </form>
</ng-container>

<ng-template #regulatorAdded>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel>An account confirmation email has been sent to {{ confirmedAddedRegulator$ | async }}</govuk-panel>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">The new user will be able to log in once they confirm their account</p>
    </div>
  </div>
</ng-template>
