<esos-wizard-step
  (formSubmit)="onContinue()"
  [formGroup]="form"
  heading="Choose a way to pay"
  submitText="Continue"
  [hideSubmit]="(store.isEditable$ | async) === false"
>
  <ng-container *ngIf="availablePaymentMethods$ | async as paymentMethods">
    <div govuk-radio formControlName="paymentMethod">
      <govuk-radio-option
        *ngIf="paymentMethods.includes('CREDIT_OR_DEBIT_CARD')"
        [value]="'CREDIT_OR_DEBIT_CARD'"
        [label]="'CREDIT_OR_DEBIT_CARD' | paymentMethodDescription"
      >
      </govuk-radio-option>
      <govuk-radio-option
        *ngIf="paymentMethods.includes('BANK_TRANSFER')"
        [value]="'BANK_TRANSFER'"
        [label]="'BANK_TRANSFER' | paymentMethodDescription"
      >
      </govuk-radio-option>
    </div>
  </ng-container>
</esos-wizard-step>

<esos-return-link
  [requestTaskType]="(store | async).requestTaskItem.requestTask.type"
  [requestMetadata]="(store | async).requestTaskItem.requestInfo.requestMetadata"
  returnLink="../details"
></esos-return-link>
