<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Organisation structure">Check your answers</esos-page-heading>

  <ng-container *ngIf="vm.data">
    <h2 class="govuk-heading-m">Enter details about the organisation structure of the responsible undertaking (RU)</h2>
    <esos-organisation-structure-summary-page
      [vm]="vm"
      [organisationStructure]="organisationStructure"
      (removeOrganisationSummary)="removeOrganisation($event)"
    ></esos-organisation-structure-summary-page>
  </ng-container>

  <button
    *ngIf="vm.sectionsCompleted[vm.subtaskName] !== 'COMPLETED' && vm.isEditable"
    (click)="submit()"
    govukButton
    type="button"
  >
    Confirm and continue
  </button>
</ng-container>
