<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Lead assessor details" size="xl">Check your answers </esos-page-heading>

  <esos-lead-assessor-details-summary-page
    *ngIf="vm.data"
    [isEditable]="vm.isEditable"
    [leadAssessor]="vm.data"
    [wizardStep]="wizardStep"
  ></esos-lead-assessor-details-summary-page>

  <div class="govuk-button-group">
    <button
      (click)="onSubmit()"
      esosPendingButton
      govukButton
      type="button"
      *ngIf="vm.isEditable && !vm.isSubTaskCompleted"
    >
      Confirm and complete
    </button>
  </div>
</ng-container>
