<ng-content></ng-content>
<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Payment status</dt>
    <dd govukSummaryListRowValue>{{ details.status | paymentStatus }}</dd>
  </div>
  <div govukSummaryListRow *ngIf="details.paymentDate">
    <dt govukSummaryListRowKey>
      {{ details.paymentMethod === 'BANK_TRANSFER' ? 'Date marked as paid' : 'Date paid' }}
    </dt>
    <dd govukSummaryListRowValue>{{ details.paymentDate | govukDate }}</dd>
  </div>
  <div govukSummaryListRow *ngIf="details.receivedDate">
    <dt govukSummaryListRowKey>Date received</dt>
    <dd govukSummaryListRowValue>{{ details.receivedDate | govukDate }}</dd>
  </div>
  <div govukSummaryListRow *ngIf="details.paidByFullName">
    <dt govukSummaryListRowKey>Paid by</dt>
    <dd govukSummaryListRowValue>{{ details.paidByFullName }}</dd>
  </div>
  <div govukSummaryListRow *ngIf="details.paymentMethod">
    <dt govukSummaryListRowKey>Payment method</dt>
    <dd govukSummaryListRowValue>{{ details.paymentMethod | paymentMethodDescription }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Reference number</dt>
    <dd govukSummaryListRowValue>{{ details.paymentRefNum }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Amount</dt>
    <dd govukSummaryListRowValue>
      <ng-container *ngIf="shouldDisplayAmount">
        {{ details.amount | currency: 'GBP' }}
      </ng-container>
    </dd>
  </div>
</dl>
