<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Add an organisation"
  caption="Organisation structure"
  submitText="Save and continue"
  [hideSubmit]="!isEditable"
>
  <div
    formControlName="registrationNumber"
    govuk-text-input
    label="Registration number (optional)"
    widthClass="govuk-!-width-three-quarters"
  ></div>

  <div
    formControlName="organisationName"
    govuk-text-input
    label="Organisation name"
    widthClass="govuk-!-width-three-quarters"
  ></div>

  <div
    formControlName="taxReferenceNumber"
    govuk-text-input
    label="Tax reference number (optional)"
    widthClass="govuk-!-width-three-quarters"
  ></div>

  <div class="govuk-body">
    <p>Is this organisation covered in this notification?</p>
  </div>
  <esos-boolean-radio-group controlName="isCoveredByThisNotification"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content
    field="isCoveredByThisNotification"
  ></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>
      Is this organisation part of an arrangement where 2 or more highest UK parent groups are complying as one
      participant?
    </p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfArrangement"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfArrangement"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is this organisation a parent of the responsible undertaking?</p>
  </div>
  <esos-boolean-radio-group controlName="isParentOfResponsibleUndertaking"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content
    field="isParentOfResponsibleUndertaking"
  ></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is this organisation a subsidiary of the responsible undertaking?</p>
  </div>
  <esos-boolean-radio-group controlName="isSubsidiaryOfResponsibleUndertaking"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content
    field="isSubsidiaryOfResponsibleUndertaking"
  ></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is this organisation part of a franchise group?</p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfFranchise"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfFranchise"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is this organisation a trust?</p>
  </div>
  <esos-boolean-radio-group controlName="isTrust"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isTrust"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Has this organisation ceased to be a part of the corporate group between 31 December 2022 and 5 June 2024?</p>
  </div>
  <esos-boolean-radio-group controlName="hasCeasedToBePartOfGroup"></esos-boolean-radio-group>
</esos-wizard-step>
