<esos-wizard-step
  [formGroup]="form"
  [heading]="heading"
  caption="{{ isFirstCompliancePeriod ? 'First compliance period' : 'Second compliance period' }}"
  (formSubmit)="submit()"
  [hideSubmit]="false"
  submitText="Save and continue"
  [showBackLink]="true"
>
  <p class="govuk-body">
    Assets held, or activities carried out, by your organisation should account for at least 95% of your total energy
    consumption.
  </p>

  <esos-energy-consumption-input [formGroup]="form"></esos-energy-consumption-input>
  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <h2 class="govuk-heading-m">Total</h2>
    <div class="govuk-body govuk-!-font-size-19">
      {{ total() }} kWh (<strong>{{ percentage() }}%</strong> of total energy consumption)
    </div>
  </div>
</esos-wizard-step>
