<div *ngIf="vm$ | async as vm">
  <div *ngIf="vm.isLoggedIn === false; else welcome">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <esos-page-heading>Manage your Energy Savings Opportunity Scheme reporting</esos-page-heading>

        <div class="govuk-body">
          <p>
            The Energy Savings Opportunity Scheme (ESOS) is an energy assessment and energy saving scheme that applies
            to large undertakings and groups containing large undertakings in the UK. This includes:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>corporate bodies or partnerships</li>
            <li>unincorporated associations carrying on a trade or business, with or without a view to profit</li>
            <li>partnerships and limited liability partnerships</li>
            <li>joint ventures</li>
            <li>charities</li>
          </ul>

          <h2 class="govuk-heading-m">Who qualifies for ESOS</h2>

          <p>
            You must take part in ESOS if your organisation, or any UK undertakings in your organisation’s group,
            qualifies as a large undertaking on the qualification date. The qualification date for the third compliance
            period is 31 December 2026.
          </p>

          <p>A large undertaking is any UK undertaking that meets one or both of the following conditions:</p>

          <ol class="govuk-list govuk-list--number">
            <li>
              Employs 250 or more people. For a UK registered undertaking, this includes all employees contracted to the
              undertaking either in the UK or abroad, irrespective of the number of hours for which they are employed.
              For ESOS purposes, the definition of an employee for a non-UK registered undertaking with a UK registered
              establishment is someone directly contracted to the undertaking who is subject to income tax in the UK.
            </li>

            <li>
              Has an annual turnover in excess of £44 million and an annual balance sheet total in excess of £38
              million.
            </li>
          </ol>
          <br />

          <h2 class="govuk-heading-s">I already have a sign in</h2>
          <p>You'll need your password and two-factor authentication app to sign in to the service.</p>

          <a class="govuk-button govuk-button--start" routerLink="." (click)="authService.login()" draggable="false">
            Sign in
            <img class="govuk-button__start-icon" src="/assets/images/start-button-arrow.svg" alt="" />
          </a>
          <br />

          <h2 class="govuk-heading-s">I need to create a sign in</h2>
          <p>You can apply online for a sign in if you qualify for ESOS.</p>

          <a class="govuk-button govuk-button--start" routerLink="/registration" draggable="false">
            Create a sign in
            <img class="govuk-button__start-icon" src="/assets/images/start-button-arrow.svg" alt="" />
          </a>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <esos-related-content>
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--spaced">
            <li>
              <a
                govukLink
                rel="noreferrer noopener"
                href="https://www.gov.uk/government/publications/comply-with-the-energy-savings-opportunity-scheme-esos/complying-with-the-energy-savings-opportunity-scheme-esos"
              >
                Comply with the Energy Savings Opportunity Scheme
              </a>
            </li>
          </ul>
        </esos-related-content>
      </div>
    </div>

    <div class="govuk-!-margin-bottom-9"></div>
    <esos-back-to-top></esos-back-to-top>
  </div>

  <ng-template #welcome>
    <ng-container [ngSwitch]="vm.status">
      <ng-container *ngSwitchCase="'NO_AUTHORITY'" [ngTemplateOutlet]="apply"></ng-container>
      <ng-container *ngSwitchCase="'ENABLED'" [ngTemplateOutlet]="apply"></ng-container>

      <ng-container *ngSwitchCase="'DISABLED'">
        <ng-container [ngSwitch]="vm.roleType">
          <ng-container *ngSwitchCase="'OPERATOR'" [ngTemplateOutlet]="apply"></ng-container>
          <ng-container *ngSwitchDefault [ngTemplateOutlet]="userDisabled"></ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngSwitchCase="'ACCEPTED'" [ngTemplateOutlet]="userActivation"></ng-container>
      <ng-container *ngSwitchCase="'TEMP_DISABLED'" [ngTemplateOutlet]="userTempDisabled"></ng-container>
    </ng-container>
  </ng-template>

  <ng-template #userDisabled>
    <esos-page-heading>
      Your user account has been disabled. Please contact your admin to gain access to your account.
    </esos-page-heading>
  </ng-template>

  <ng-template #userActivation>
    <esos-page-heading> Your user account needs to be activated. </esos-page-heading>

    <p class="govuk-body">
      Your user account must be activated before you can sign in to the Manage your Energy Savings Opportunity Scheme
      reporting service.
    </p>

    <p class="govuk-body">
      If your account was created by your regulator, they will now activate your account. You'll receive an email once
      your account has been activated. <a govukLink routerLink="/contact-us">Contact your regulator</a> if your account
      has not been activated after 2 working days.
    </p>
  </ng-template>

  <ng-template #userTempDisabled>
    <esos-page-heading>Lorem ipsum dolor sit amet. Cum molestiae numquam aut impedit quia non illo.</esos-page-heading>
  </ng-template>

  <ng-template #apply>
    <div class="govuk-body">
      <h1 *ngIf="vm.userProfile as user">Welcome {{ user.firstName }} {{ user.lastName }}</h1>

      <ng-container>
        <div *ngIf="vm.installationEnabled === false" class="govuk-body">
          To access the service you'll need to create a new organisation account
        </div>

        <a govukButton routerLink="/accounts/new">Apply for a new organisation account</a>

        <div class="govuk-body govuk-!-font-weight-bold">
          If you want to be added to an existing organisation account
        </div>

        <div class="govuk-body">
          You can request to be added to an existing organisation account by contacting the relevant organisation
          administrator.
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
