@use 'base' as govuk;

button {
  background: transparent;
  text-align: left;
  position: relative;
}

.options {
  top: -2px;
  position: relative;
  padding: 10px;
  max-height: 176px;
  overflow: auto;
}

.options-valid {
  border: 2px solid black;
  border-top: none;
}

.options-invalid {
  border: 2px solid govuk.$govuk-error-colour;
  border-top: none;
}

.options-container {
  padding-top: 2px;
}

.selected {
  background-color: #f3f2f1;
  display: block;
  border-radius: 2px;
  margin: 2px;
  padding: 2px 10px;
}

.no-bottom-border {
  border-bottom: 2px solid transparent;
}
.no-bottom-border:focus {
  border-bottom: 2px solid #0b0c0c;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 0.15rem;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  float: right;
  margin: 2px;
  position: absolute;
  top: 10px;
  right: 5px;
}
