<ng-container *ngIf="vm() as vm">
  <esos-page-heading [caption]="vm.subtaskTitle"> Check your answers </esos-page-heading>

  <esos-compliance-periods-summary-page
    *ngIf="vm.data"
    [compliancePeriod]="vm.data"
    [isEditable]="vm.isEditable"
    [isFirstCompliancePeriod]="vm.isFirstCompliancePeriod"
    [wizardStep]="vm.wizardStep"
  ></esos-compliance-periods-summary-page>

  <button
    *ngIf="vm.sectionsCompleted[vm.subtaskName] !== 'COMPLETED' && vm.isEditable"
    (click)="submit()"
    govukButton
    type="button"
  >
    Confirm and continue
  </button>
</ng-container>
