<esos-page-heading size="xl">UK ETS legislation</esos-page-heading>

<p class="govuk-body">
  Throughout the UK ETS reporting service, references are made to key pieces of UK ETS legislation.
</p>

<h2 class="govuk-heading-m">Key legislation for the UK ETS</h2>
<br />
<p class="govuk-body">Definitions of the key pieces of legislation are:</p>
<h3 class="govuk-heading-s">The Greenhouse Gas Emissions Trading Scheme Order</h3>
<p class="govuk-body">
  The Greenhouse Gas Emissions Trading Scheme Order 2020 (SI 2020 No.1265) (the Order) has been amended by the following
  Orders:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020 (SI 2020 No.1557)</li>
  <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2021 (SI 2021 No.1455)</li>
  <li>Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2022 (SI 2022 No. 454)</li>
  <li>Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022 (SI 2022 No. 1173)</li>
</ul>
<h3 class="govuk-heading-s">The Monitoring and Reporting Regulation</h3>
<p class="govuk-body">
  The Monitoring and Reporting Regulation (MRR)(Commission Implementing Regulation (EU) 2018/2066 of 19 December 2018)
  as given effect by the Order and subject to modifications in Schedule 4 to the Order.
</p>
<p class="govuk-body">
  This is an EU Regulation which was given effect by the Order for the purposes of the UK ETS. The Order (including the
  amending Orders previously listed) modifies the MRR so that it is appropriate for the UK ETS.
</p>
<h3 class="govuk-heading-s">The Verification Regulation</h3>
<p class="govuk-body">
  The Verification Regulation (Commission Implementing Regulation (EU) 2018/2067 of 19 December 2018) as given effect by
  the Order, and subject to modifications in Schedule 5 to the Order (Verification Regulation).<br />
  This is an EU Regulation which was given effect by the Order for the purposes of the UK ETS. The Order (including the
  previously mentioned amending Orders) modifies the Verification Regulation so that it is appropriate for the UK ETS.
</p>
<h3 class="govuk-heading-s">The Free Allocation Regulation</h3>
<p class="govuk-body">
  The Free Allocation Regulation (Commission Delegated Regulation (EU) 2019/331 of 19 December 2018) as it has effect in
  domestic law (FAR).
</p>
<p class="govuk-body">
  This is an EU Regulation which is EU retained law. This means that it applies in the UK after EU Exit.
  <br />
  The Regulation is amended by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Schedule 1 to the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020</li>
  <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2021</li>
  <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022</li>
</ul>
<h3 class="govuk-heading-s">The Activity Level Changes Regulation</h3>
<p class="govuk-body">
  The Activity Level Changes Regulation (Commission Implementing Regulation (EU) 2019/1842 of 31 October 2019) as it has
  effect in domestic law (ALCR).<br />
  This is an EU Regulation which is EU retained law. This means that it applies in the UK after EU Exit.<br />The
  Regulation is amended by:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Schedule 2 to the Greenhouse Gas Emissions Trading Scheme (Amendment) Order 2020</li>
  <li>the Greenhouse Gas Emissions Trading Scheme (Amendment) (No.2) Order 2022</li>
</ul>

<h2 class="govuk-heading-m">Modifications and amendments</h2>
<p class="govuk-body">
  Further modifications and amendments are expected to all pieces of UK ETS legislation in the future.
</p>
<p class="govuk-body">
  Where references to the UK ETS legislation are made within the UK ETS reporting service, this includes all
  modifications and amendments made to that legislation for the purposes of the UK ETS.
</p>

<esos-back-to-top></esos-back-to-top>
