<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Enter details about the organisation structure of the responsible undertaking (RU)"
  caption="Organisation structure"
  submitText="Save and continue"
>
  <div class="govuk-body">
    <p>
      Is the responsible undertaking part of an arrangement where 2 or more highest UK parent groups are complying as
      one participant?
    </p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfArrangement"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfArrangementRu"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is the responsible undertaking part of a franchise group?</p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfFranchise"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfFranchiseRu"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is the responsible undertaking a trust?</p>
  </div>
  <esos-boolean-radio-group controlName="isTrust"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isTrust"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>
      Has the responsible undertaking ceased to be a part of the corporate group between 31 December 2022 and 5 June
      2024?
    </p>
  </div>
  <esos-boolean-radio-group controlName="hasCeasedToBePartOfGroup"></esos-boolean-radio-group>
</esos-wizard-step>
