<esos-page-heading size="l">Request two-factor authentication reset</esos-page-heading>

<p class="govuk-body">
  If you have lost your device and cannot access your authenticator, you must request a reset from your Regulator or
  Advanced User.
</p>

<h3 class="govuk-heading-s">User</h3>
<p class="govuk-body">Contact your Advanced User</p>
<h3 class="govuk-heading-s">Regulator</h3>
<p class="govuk-body">Contact your Regulator Administrator</p>

<p class="govuk-body">
  You can contact also the
  <a href="mailto:esos@environment-agency.gov.uk"> UK ESOS Helpdesk</a>. If you are sending an email, use the subject
  line 'I have lost access to my authenticator app - Energy Savings Opportunity Scheme', and include the name of the
  account you belong to.
</p>

<div class="govuk-!-margin-bottom-9"></div>
<esos-back-to-top></esos-back-to-top>
