<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Confirmation" size="xl">Check your answers </esos-page-heading>

  <esos-confirmation-summary-page
    [isEditable]="vm.isEditable"
    [confirmation]="vm.data"
    [wizardStep]="wizardStep"
  ></esos-confirmation-summary-page>

  <div class="govuk-button-group">
    <button
      *ngIf="vm.isEditable && !vm.isSubTaskCompleted"
      (click)="onSubmit()"
      esosPendingButton
      govukButton
      type="button"
    >
      Confirm and complete
    </button>
  </div>
</ng-container>
