<div class="govuk-grid-row" *ngIf="vm() as vm">
  <div class="govuk-grid-column-full">
    <esos-page-heading size="l">{{ vm.header }}</esos-page-heading>
    <p class="govuk-caption-m govuk-!-margin-bottom-8">{{ vm.requestAction.creationDate | govukDate : 'datetime' }}</p>

    <ng-container *ngIf="vm.component as component; else sectionsTpl">
      <ng-container *ngComponentOutlet="component"></ng-container>
    </ng-container>

    <ng-template #sectionsTpl>
      <esos-task-list [sections]="vm.sections"></esos-task-list>
    </ng-template>
  </div>
</div>
