<ng-container *ngIf="currentTab === 'workflows'">
  <h2 class="govuk-heading-m">Workflow history</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" *ngIf="workflowResults$ | async as workflowResults">
      <ul class="govuk-list">
        <li *ngFor="let workflow of workflowResults.requestDetails" class="search-results-list_item">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <a [routerLink]="['workflows', workflow.id]" govukLink>
                {{ workflow.id }} {{ workflowName(workflow.requestType) }}
              </a>
              <div>Created: {{ workflow.creationDate | govukDate }}</div>
            </div>
            <div class="govuk-grid-column-one-quarter">
              <span
                class="search-results-list_item_status govuk-tag govuk-tag--{{
                  workflow.requestStatus | statusTagColor
                }} float-right"
              >
                <strong>{{ workflow.requestStatus | i18nSelect: workflowStatusesTagMap }}</strong>
              </span>
            </div>
          </div>
        </li>
      </ul>
      <esos-pagination
        *ngIf="workflowResults.total > 0 && showPagination$ | async"
        [count]="workflowResults.total"
        (currentPageChange)="page$.next($event)"
        [pageSize]="pageSize"
      ></esos-pagination>
    </div>
  </div>
</ng-container>
