<p class="govuk-body">
  In the absence of a board director, an individual with management control can confirm the following.
</p>
<p class="govuk-body">
  This should only be another individual with management control where a board director does not exist.
</p>

<div govuk-checkboxes [formControlName]="controlName">
  <govuk-checkbox
    [value]="'REVIEWED_THE_RECOMMENDATIONS'"
    label="has reviewed the recommendations of your organisation's ESOS assessment or alternative routes to compliance (e.g. ISO 50001)"
  >
  </govuk-checkbox>
  <govuk-checkbox
    [value]="'SATISFIED_WITH_ORGANISATION_WITHIN_SCOPE_OF_THE_SCHEME'"
    label="is satisfied, to the best of their knowledge, that the organisation is within the scope of the scheme"
  >
  </govuk-checkbox>
  <govuk-checkbox
    [value]="'SATISFIED_WITH_ORGANISATION_COMPLIANT_WITH_SCOPE_OF_THE_SCHEME'"
    label="is satisfied, to the best of their knowledge, that the organisation is compliant with the scheme"
  >
  </govuk-checkbox>
  <govuk-checkbox
    [value]="'SATISFIED_WITH_INFORMATION_PROVIDED_UNLESS_THERE_IS_A_DECLARED_REASON'"
    label="Is satisfied, to the best of their knowledge, that relevant sections of the ESOS report, and supporting information where relevant, have been shared with all undertakings in the corporate group, unless there is a declared reason why this is prohibited by law"
  >
  </govuk-checkbox>
  <govuk-checkbox
    [value]="'SATISFIED_WITH_INFORMATION_PROVIDED'"
    label="is satisfied, to the best of their knowledge, that the information provided in this notification is correct"
  >
  </govuk-checkbox>
</div>
