<ng-container *ngIf="leadAssessor.leadAssessorType">
  <h2 class="govuk-heading-m">Was the Lead Assessor internal or external to your organisational group?</h2>

  <dl govuk-summary-list>
    <div govukSummaryListColumn>
      <dd govukSummaryListColumnValue>{{ leadAssessor.leadAssessorType === 'INTERNAL' ? 'Internal' : 'External' }}</dd>
      <dd govukSummaryListColumnActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_TYPE]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="leadAssessor.leadAssessorDetails">
  <h2 class="govuk-heading-m">Provide details of the Lead Assessor who has reviewed your ESOS notification</h2>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>First name</dt>
      <dd govukSummaryListRowValue>{{ leadAssessor.leadAssessorDetails.firstName }}</dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a [routerLink]="[wizardStep.STEP_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Last name</dt>
      <dd govukSummaryListRowValue>{{ leadAssessor.leadAssessorDetails.lastName }}</dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a [routerLink]="[wizardStep.STEP_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Email address</dt>
      <dd govukSummaryListRowValue>{{ leadAssessor.leadAssessorDetails.email }}</dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a [routerLink]="[wizardStep.STEP_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Professional body</dt>
      <dd govukSummaryListRowValue>{{ leadAssessor.leadAssessorDetails.professionalBody | professionalBody }}</dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a [routerLink]="[wizardStep.STEP_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Membership name</dt>
      <dd govukSummaryListRowValue>{{ leadAssessor.leadAssessorDetails.membershipNumber }}</dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a [routerLink]="[wizardStep.STEP_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="leadAssessor.hasLeadAssessorConfirmation != null">
  <h2 class="govuk-heading-m">
    Has the Lead Assessor reviewed and confirmed that the assessment meets the ESOS requirements ?
  </h2>

  <dl govuk-summary-list>
    <div govukSummaryListColumn>
      <dd govukSummaryListColumnValue>{{ leadAssessor.hasLeadAssessorConfirmation | booleanToText }}</dd>
      <dd govukSummaryListColumnActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_REQUIREMENTS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>
