<govuk-details summary="About Phase 3 Notification">
  <p class="govuk-body govuk-!-font-weight-bold">Before you start read the following guidance:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      You will need to read the
      <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#">ESOS guidance (opens in new tab)</a>
      before submitting a notification to ensure that your organisation is covered by the scheme
    </li>
    <li>
      Read
      <a class="govuk-link" rel="noreferrer noopener" target="_blank" href="#"
        >Expected standards for ESOS assessments (opens in new tab)</a
      >
    </li>
  </ul>

  <p class="govuk-body govuk-!-font-weight-bold">How to fill in this notification form</p>
  <p class="govuk-body">
    The following screens allow you to enter the information you need to submit your ESOS compliance notification, or
    notify that you do not qualify for the scheme.
  </p>
  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>
      You can only fill out a submission if you are from the organisation concerned (the organisation is responsible for
      all of the information in the submission, but some sections may be filled out, and must be agreed, by a nominated
      Lead Assessor)
    </li>
    <li>
      <p class="govuk-body">Individuals must fill out the submission on behalf of the highest UK parent company</p>
      <p class="govuk-body-s govuk-!-font-weight-bold">What is the highest UK parent company?</p>
      <p class="govuk-body-s">
        The highest UK parent of a group is the undertaking which has no parent, or only has parents which are overseas
        undertakings. All subsidiary undertakings of that highest UK parent are by default part of the same participant
        for ESOS.
      </p>
      <p class="govuk-body-s">
        For more information see
        <a
          class="govuk-link"
          rel="noreferrer noopener"
          target="_blank"
          href="https://www.gov.uk/government/publications/comply-with-the-energy-savings-opportunity-scheme-esos"
          >full guidance (opens in new tab).</a
        >
      </p>
    </li>
    <li>You will now have an ESOS account, and you will be able to save information and return to your submission</li>
    <li>Using your account, you may be able to submit a notification within your organisation</li>
  </ul>
  <p class="govuk-body">
    You are responsible for the accuracy of the information that you submit. You will be emailed the response you give
    when you submit your notification. Keep this email in your evidence pack as a record of your submission.
  </p>
</govuk-details>
