<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Are there any parts of the ESOS report, or supporting information, that the responsible undertaking is prohibited from disclosing to any group undertaking?"
  caption="Compliance route"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <div formControlName="partsProhibitedFromDisclosingExist" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
  </div>
</esos-wizard-step>
