<ng-container *ngIf="vm() as vm">
  <esos-page-heading [caption]="vm.alternativeComplianceRoutesMap.title">Check your answers</esos-page-heading>

  <esos-alternative-compliance-routes-summary-page
    *ngIf="vm.data"
    [data]="vm.data"
    [alternativeComplianceRoutesMap]="vm.alternativeComplianceRoutesMap"
    [isEditable]="vm.isEditable"
    [queryParams]="vm.queryParams"
    [changeLink]="wizardStep"
  ></esos-alternative-compliance-routes-summary-page>

  <button *ngIf="vm.isEditable && !vm.isSubTaskCompleted" (click)="onSubmit()" govukButton type="button">
    Confirm and continue
  </button>
</ng-container>
