<div class="govuk-grid-row">
  <div [class]="(hasRelatedActions$ | async) === true ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
    <ng-container *ngIf="requestTaskItem$ | async as requestTaskItem">
      <esos-page-heading size="xl">
        {{ requestTaskType$ | async | i18nSelect: (headingMap$ | async) }}
        <esos-task-header-info
          [assignee]="requestTaskItem.requestTask.assigneeFullName"
          [daysRemaining]="requestTaskItem.requestTask.daysRemaining"
        ></esos-task-header-info>
      </esos-page-heading>

      <esos-make-payment-help
        [competentAuthority$]="competentAuthority$"
        [requestType$]="requestType$"
        [requestTaskType$]="requestTaskType$"
        [defaultHelp]="requestTaskType$ | async | i18nSelect: paymentHintInfo"
      ></esos-make-payment-help>

      <h2 esos-summary-header class="govuk-heading-m">Payment Details</h2>
      <ng-container *ngIf="paymentDetails$ | async as paymentDetails">
        <dl govuk-summary-list>
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Date created</dt>
            <dd govukSummaryListRowValue>{{ paymentDetails.creationDate | govukDate }}</dd>
          </div>
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Reference number</dt>
            <dd govukSummaryListRowValue>{{ paymentDetails.paymentRefNum }}</dd>
          </div>
          <div govukSummaryListRow>
            <dt govukSummaryListRowKey>Amount to pay</dt>
            <dd govukSummaryListRowValue>
              <ng-container *ngIf="shouldDisplayAmount$ | async">
                {{ paymentDetails.amount | currency: 'GBP' }}
              </ng-container>
            </dd>
          </div>
        </dl>
      </ng-container>

      <button *ngIf="(store.isEditable$ | async) === true" (click)="makePayment()" govukButton type="button">
        Make payment
      </button>

      <ng-container *ngIf="relatedTasks$ | async as relatedTasks">
        <esos-related-tasks *ngIf="relatedTasks.length > 0" [items]="relatedTasks"></esos-related-tasks>
      </ng-container>

      <div class="govuk-!-margin-top-6">
        <esos-timeline>
          <esos-timeline-item
            *ngFor="let action of actions$ | async"
            [action]="action"
            [link]="action | timelineItemLink"
          ></esos-timeline-item>
        </esos-timeline>
      </div>
    </ng-container>
  </div>
  <div class="govuk-grid-column-one-third" *ngIf="(hasRelatedActions$ | async) === true">
    <esos-related-actions
      [isAssignable]="isAssignableAndCapableToAssign$ | async"
      [taskId]="taskId$ | async"
      [allowedActions]="allowedRequestTaskActions$ | async"
    ></esos-related-actions>
  </div>
</div>
