<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Energy savings opportunities">Check your answers</esos-page-heading>

  <esos-energy-savings-opportunities-summary-page
    *ngIf="vm.data"
    [data]="vm.data"
    [changeLink]="vm.changeLink"
    [isEditable]="vm.isEditable"
    [queryParams]="vm.queryParams"
  ></esos-energy-savings-opportunities-summary-page>

  <button *ngIf="vm.isEditable && !vm.isSubTaskCompleted" (click)="submit()" govukButton type="button">
    Confirm and continue
  </button>
</ng-container>
