<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Compliance route">Check your answers</esos-page-heading>

  <esos-compliance-route-summary-page
    [vm]="vm"
    [complianceRoute]="complianceRoute"
    (removeEnergyAuditSummary)="removeEnergyAuditSummary($event)"
  ></esos-compliance-route-summary-page>

  <button
    *ngIf="vm.sectionsCompleted[vm.subtaskName] !== 'COMPLETED' && vm.isEditable"
    (click)="submit()"
    govukButton
    type="button"
  >
    Confirm and continue
  </button>
</ng-container>
