<esos-wizard-step
  [formGroup]="form"
  [heading]="responsibleUndertakingMap.overseasParentDetails.title"
  [caption]="responsibleUndertakingMap.title"
  (formSubmit)="onSubmit()"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <div formControlName="name" govuk-text-input
       label="Parent company name" widthClass="govuk-!-width-two-thirds"></div>
  <div formControlName="tradingName" govuk-text-input
       label="Parent company trading name (optional)"
       hint="Enter the trading name of the parent company if it is different to the registered name"
       widthClass="govuk-!-width-two-thirds"></div>
</esos-wizard-step>
