<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form (ngSubmit)="submitContactDetails()" [formGroup]="form">
      <govuk-error-summary *ngIf="isSummaryDisplayed" [form]="form"></govuk-error-summary>

      <esos-page-heading caption="Create user account" size="xl">Enter your details</esos-page-heading>

      <fieldset govukFieldset id="user-details-fieldset">
        <legend govukLegend>Your name</legend>
        <esos-user-input phoneType="full"></esos-user-input>
      </fieldset>

      <button govukButton type="submit">Continue</button>
    </form>
  </div>
</div>
