<esos-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="Has the Lead Assessor reviewed and confirmed that the assessment meets the ESOS requirements?"
  caption="Lead assessor details"
  submitText="Save and continue"
  [hideSubmit]="!isEditable()"
>
  <div
    formControlName="hasLeadAssessorConfirmation"
    govuk-radio
    legend="The Lead assessor who signed off your ESOS assessment."
    legendSize="normal"
  >
    <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
    <govuk-radio-option [value]="false" label="No">
      <div govukConditionalContent>
        <p class="govuk-body">Your notification will be reviewed by the relevant compliance body.</p>
      </div>
    </govuk-radio-option>
  </div>

  <esos-help-me></esos-help-me>
</esos-wizard-step>
