<h3 class="govuk-heading-m">Persons added</h3>

<ng-container *ngIf="personnel.length > 0; else noPersonnel">
  <govuk-table [columns]="columns" [data]="personnel">
    <ng-template let-column="column" let-index="index" let-row="row">
      <div [ngSwitch]="column.field">
        <ng-container *ngSwitchCase="'fullName'">
          <div>{{ row['firstName'] }} {{ row['lastName'] }}</div>
        </ng-container>

        <ng-container *ngIf="row[column.field] === 'INTERNAL'">
          <div>Internal</div>
        </ng-container>

        <ng-container *ngIf="row[column.field] === 'EXTERNAL'">
          <div>External</div>
        </ng-container>

        <ng-container *ngSwitchCase="'actions'">
          <div *ngIf="isEditable" class="actions">
            <a govukLink [routerLink]="prefix + index + '/personnel-form'" [queryParams]="queryParams"> Change </a>

            <a class="govuk-!-padding-left-3" govukLink [routerLink]="prefix + index + '/remove'"> Remove </a>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </govuk-table>
</ng-container>

<ng-template #noPersonnel>
  <p>No persons have been added</p>
</ng-template>
