<esos-wizard-step
  [formGroup]="form"
  [heading]="responsibleUndertakingMap.organisationDetails.title"
  [caption]="responsibleUndertakingMap.title"
  (formSubmit)="onSubmit()"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <p class="govuk-body">
    This is the organisation responsible for submitting the Energy Savings Opportunity Scheme (ESOS) compliance
    notification.
  </p>
  <div
    formControlName="name"
    govuk-text-input
    label="Organisation name"
    [widthClass]="'govuk-!-width-two-thirds'"
  ></div>
  <div
    formControlName="registrationNumber"
    govuk-text-input
    label="Registration number (optional)"
    [widthClass]="'govuk-!-width-two-thirds'"
  ></div>
  <esos-county-address-input></esos-county-address-input>
</esos-wizard-step>
