<esos-page-heading>Pay by bank transfer</esos-page-heading>

<ng-container *ngIf="competentAuthority$ | async as ca">
  <esos-make-payment-help
    [competentAuthority$]="competentAuthority$"
    [requestType$]="requestType$"
    [requestTaskType$]="requestTaskType$"
    defaultHelp="Use the {{ ca | competentAuthority }}'s bank details to make a payment by bank transfer"
  ></esos-make-payment-help>
  <govuk-details summary="How long does it take">
    <p>Faster Payments are usually received on the same day they are sent, including weekends and bank holidays.</p>
    <p>
      CHAPS payments are usually received on the same working day, if you send the payment within your bank's processing
      times.
    </p>
    <p>BACS payments usually take 3 working days to be received.</p>
  </govuk-details>
  <govuk-warning-text>You must include your payment reference when paying</govuk-warning-text>

  <ng-container *ngIf="makePaymentDetails$ | async as makePaymentDetails">
    <h2 esos-summary-header class="govuk-heading-m">{{ ca | competentAuthority }}’s bank details</h2>
    <dl govuk-summary-list>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Sort code</dt>
        <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.sortCode }}</dd>
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Account number</dt>
        <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.accountNumber }}</dd>
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Account name</dt>
        <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.accountName }}</dd>
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Your payment reference</dt>
        <dd govukSummaryListRowValue>{{ makePaymentDetails.paymentRefNum }}</dd>
      </div>
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Amount to pay</dt>
        <dd govukSummaryListRowValue>
          <ng-container *ngIf="shouldDisplayAmount$ | async">
            {{ makePaymentDetails.amount | currency: 'GBP' }}
          </ng-container>
        </dd>
      </div>
    </dl>

    <govuk-details
      *ngIf="makePaymentDetails.bankAccountDetails.swiftCode || makePaymentDetails.bankAccountDetails.iban"
      summary="International payments"
    >
      <p>Use the following details if you are making an international payment:</p>
      <dl govuk-summary-list>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Bank identifier code (BIC)</dt>
          <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.swiftCode }}</dd>
        </div>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Account number (IBAN)</dt>
          <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.iban }}</dd>
        </div>
        <div govukSummaryListRow>
          <dt govukSummaryListRowKey>Account name</dt>
          <dd govukSummaryListRowValue>{{ makePaymentDetails.bankAccountDetails.accountName }}</dd>
        </div>
      </dl>
    </govuk-details>
  </ng-container>
</ng-container>

<div class="govuk-button-group" *ngIf="(store.isEditable$ | async) === true">
  <button (click)="onMarkAsPaid()" esosPendingButton govukButton type="button">Mark as paid</button>
</div>

<esos-return-link
  [requestTaskType]="(store | async).requestTaskItem.requestTask.type"
  [requestMetadata]="(store | async).requestTaskItem.requestInfo.requestMetadata"
  returnLink="../details"
></esos-return-link>
