a.govuk-header__link.govuk-header__link--homepage.govuk-header__link--home-custom:focus {
    text-decoration: underline;
    text-decoration-color: white;
    border-bottom: 4px solid;
}

a.govuk-header__link.govuk-header__link--service-name.govuk-header__link--service-custom:focus {
    text-decoration: underline;
    text-decoration-color: white;
    border-bottom: 4px solid;
}