<div
  govuk-text-input
  inputType="number"
  label="Buildings"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="buildings"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Transport"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="transport"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Industrial Processes"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="industrialProcesses"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Other processes"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="otherProcesses"
></div>
