<govuk-details summary="Help me answer this question">
  <p class="govuk-body govuk-!-font-weight-bold">What a Lead Assessor will do</p>
  <p class="govuk-body">
    Your lead assessor must review your ESOS assessment to consider whether it meets the requirements of the scheme.
  </p>

  <p class="govuk-body">This will involve:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>reviewing the calculation of total energy consumption</li>
    <li>
      reviewing the determination of the assets and activities in your significant energy consumption (at least 90% of
      the total energy consumption)
    </li>
    <li>confirming that the necessary certifications and evidence exist for any alternative routes to compliance</li>
    <li>reviewing that the audits undertaken meet the minimum criteria for ESOS</li>
  </ul>

  <p class="govuk-body">Your lead assessor can either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>carry out your ESOS assessment and audits themselves</li>
    <li>check that the assessment and audits done by people who are not lead assessors meet the requirements</li>
  </ul>

  <p class="govuk-body">
    Their role in the ESOS audits could involve undertaking, advising on, or reviewing the following activities:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>determining energy use profiles</li>
    <li>
      calculating energy or cost savings of measures identified – life-cycle cost analysis (LCCA) or another method like
      simple payback period (SPP)
    </li>
    <li>identifying energy saving opportunities presenting audit recommendations</li>
    <li>developing a process for how new audits should be done developing a sampling approach</li>
    <li>developing an audit timetable</li>
    <li>determining the number of site visits required</li>
    <li>
      pulling together data for the ESOS evidence pack – this is an information pack that shows how you carried out the
      assessment and audit
    </li>
  </ul>

  <p class="govuk-body govuk-!-font-weight-bold">Can other people undertake some of these activities?</p>
  <p class="govuk-body">Yes, other individuals can undertake these activities but a Lead Assessor must review them.</p>

  <p class="govuk-body govuk-!-font-weight-bold">What responsibilities does the organisation have?</p>
  <p class="govuk-body">You’re still solely responsible for:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>compliance with ESOS (your lead assessor will not be held responsible for compliance by the regulators)</li>
    <li>appointing a lead assessor</li>
    <li>
      highlighting any audit work that’s already been done and which you wish to have reviewed by a lead assessor for
      the purposes of ESOS compliance
    </li>
    <li>agreeing the work that the lead assessor is undertaking</li>
    <li>
      getting directors or senior managers to sign off that they have reviewed the audit findings or recommendations
    </li>
  </ul>

  <p class="govuk-body">
    On this basis you should ensure that someone from the organisation understands the ESOS requirements and works
    together with the lead assessor to agree the approach your organisation is taking to its ESOS compliance.
  </p>

  <p class="govuk-body">
    Overall the lead assessor will need to review your assessment and consider whether it meets the requirements of the
    scheme regardless of the level of their involvement in the work undertaken for the ESOS assessment.
  </p>

  <p class="govuk-body">
    If your lead assessor reviews your ESOS assessment and does not believe that your organisation is compliant, you may
    still choose to submit your notification. In this case you should confirm that the assessment has been reviewed by a
    lead assessor and indicate that they do not believe you are compliant and why. Organisations that do not carry out a
    compliant audit where required will be in breach of the Regulations and liable to potential enforcement action.
  </p>
</govuk-details>
