<esos-wizard-step
  [formGroup]="form"
  [heading]="alternativeComplianceRoutesMap.decCertificatesDetails.title"
  [caption]="alternativeComplianceRoutesMap.title"
  (formSubmit)="onSubmit()"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <ng-container formArrayName="certificateDetails">
    <ng-container
      *ngFor="let question of certificateDetailsFormArray.controls; index as i; last as isLast; first as isFirst"
      [formGroupName]="i">
      <div formControlName="certificateNumber" govuk-text-input id="certificateDetails-{{ i }}-certificateNumber"
           label="Certificate number" hint="This can be found at the top of your certificate"
           widthClass="govuk-!-width-one-third"></div>
      <div formControlName="validFrom" govuk-date-input id="certificateDetails-{{ i }}-validFrom"
           label="Valid from" [hint]="dateHint" [max]="dateMax"></div>
      <div formControlName="validUntil" govuk-date-input id="certificateDetails-{{ i }}-validUntil"
           label="Valid until" [hint]="dateHint"></div>
      <!--eslint-disable-next-line @angular-eslint/template/click-events-have-key-events-->
      <a govukLink (click)="removeCertificateDetails(i)" role="button" tabindex="0" *ngIf="!isFirst">Remove
        certificate</a>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" *ngIf="!isLast"/>
    </ng-container>
  </ng-container>
  <div class="govuk-button-group govuk-!-static-margin-top-6">
    <button (click)="addCertificateDetails()" govukSecondaryButton type="button">Add another certificate</button>
  </div>
</esos-wizard-step>
