<ng-container *ngIf="availableTasks$ | async as availableTasks">
  <esos-page-heading>Start a new task</esos-page-heading>

  <ng-container *ngIf="availableTasks?.length > 0; else noAvailableTasks">
    <ng-container *ngFor="let task of availableTasks">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-m">{{ task.title }}</h2>
          <ng-container *ngIf="task.type === 'NOTIFICATION_OF_COMPLIANCE_P3'">
            <esos-about-noc-p3-description></esos-about-noc-p3-description>
          </ng-container>
          <ng-container *ngIf="!task.errors; else errors">
            <button (click)="onRequestButtonClick(task.type)" esosPendingButton govukButton type="button">
              {{ task.button }}
            </button>
          </ng-container>
          <ng-template #errors>
            <ul class="govuk-list">
              <li *ngFor="let error of task.errors">
                {{ error }}
              </li>
            </ul>
          </ng-template>
        </div>
      </div>
      <hr class="govuk-section-break govuk-section-break--m" />
    </ng-container>
  </ng-container>

  <ng-template #noAvailableTasks>
    <ul class="govuk-list">
      <li>There are no available processes to initiate.</li>
    </ul>
  </ng-template>
</ng-container>
