<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="What is the total energy consumption in kWh for the reference period?"
  caption="Energy consumption"
  submitText="Save and continue"
  [hideSubmit]="false"
>
  <esos-energy-consumption-input></esos-energy-consumption-input>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

  <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Total</h2>
  <p class="govuk-body">{{ total() }} kWh</p>

</esos-wizard-step>
