<div class="govuk-grid-row" *ngIf="vm() as vm">
  <div [class]="vm.hasRelatedActions && vm.isAssignable ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
    <esos-page-heading size="l">
      {{ vm.header }}

      <esos-task-header-info
        *ngIf="vm.requestTask as rt"
        [assignee]="rt.assigneeFullName"
        [daysRemaining]="rt.daysRemaining"
      ></esos-task-header-info>
    </esos-page-heading>

    <ng-container *ngIf="vm.preContentComponent as preContentComponent">
      <ng-container *ngComponentOutlet="preContentComponent" />
    </ng-container>

    <ng-container *ngIf="vm.contentComponent as component; else sectionsTpl">
      <ng-container *ngComponentOutlet="component" />
    </ng-container>

    <ng-container *ngIf="vm.postContentComponent as postContentComponent">
      <ng-container *ngComponentOutlet="postContentComponent" />
    </ng-container>

    <ng-template #sectionsTpl>
      <esos-task-list [sections]="vm.sections" />
    </ng-template>

    <ng-container *ngIf="vm.hasRelatedTasks">
      <esos-related-tasks [items]="vm.relatedTasks" />
    </ng-container>

    <ng-container *ngIf="vm.hasTimeline">
      <esos-timeline>
        <esos-timeline-item
          *ngFor="let timelineEntry of vm.timeline"
          [action]="timelineEntry"
          [link]="['timeline', timelineEntry.id]"
        ></esos-timeline-item>
      </esos-timeline>
    </ng-container>
  </div>

  <div *ngIf="vm.hasRelatedActions && vm.isAssignable" class="govuk-grid-column-one-third">
    <esos-related-actions
      [isAssignable]="vm.isAssignable"
      [taskId]="vm.requestTask.id"
      [allowedActions]="vm.relatedActions"
    ></esos-related-actions>
  </div>
</div>
