<esos-page-heading size="xl" [caption]="'Reset two-factor authentication'">
  Are you sure you want to reset two-factor authentication for {{ userName$ | async }} ?
</esos-page-heading>

<p class="govuk-body">This will send a two-factor authentication reset email to {{ userName$ | async }}</p>

<div class="govuk-button-group">
  <button type="button" esosPendingButton (click)="reset()" govukWarnButton>Yes, reset authentication</button>
  <a govukLink routerLink="." (click)="location.back()">Cancel</a>
</div>
