<ng-container *ngIf="data?.primaryContact">
  <h2 class="govuk-heading-m">Primary contact details</h2>
  <esos-user-input-summary-template
    [userInfo]="data.primaryContact"
    [changeLink]="isEditable ? './' + changeLink.PRIMARY_CONTACT : undefined"
  ></esos-user-input-summary-template>
</ng-container>

<!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="data?.hasSecondaryContact != null">
  <h2 class="govuk-heading-m">Do you want to add a secondary contact?</h2>
  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dd govukSummaryListRowValue>{{ data.hasSecondaryContact | booleanToText }}</dd>
      <dd *ngIf="isEditable" govukSummaryListRowActions>
        <a govukLink [routerLink]="['./', changeLink.ADD_SECONDARY_CONTACT]" [queryParams]="queryParams"> Change </a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="data?.secondaryContact">
  <h2 class="govuk-heading-m">Secondary contact details</h2>
  <esos-user-input-summary-template
    [userInfo]="data.secondaryContact"
    [changeLink]="isEditable ? './' + changeLink.SECONDARY_CONTACT : undefined"
  ></esos-user-input-summary-template>
</ng-container>
