<div
  govuk-text-input
  inputType="number"
  label="Energy management practices"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="energyManagementPractices"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Behaviour change interventions"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="behaviourChangeInterventions"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Training"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="training"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Controls improvements"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="controlsImprovements"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Short term capital investments (with a payback period of less than 3 years)"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="shortTermCapitalInvestments"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Long term capital investments (with a payback period of more than 3 years)"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="longTermCapitalInvestments"
></div>

<div
  govuk-text-input
  inputType="number"
  label="Other measures not covered by one of the above"
  widthClass="govuk-!-width-one-third"
  suffix="kWh"
  formControlName="otherMeasures"
></div>
