<ng-container *ngIf="!is2FaChanged; else twoFaChanged">
  <esos-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    submitText="Submit"
    caption="Change two factor authentication"
    heading="Enter the code shown in the authenticator app"
  >
    <div
      formControlName="password"
      govuk-text-input
      label="Enter the 6-digit code"
      widthClass="govuk-!-width-one-third"
    ></div>
  </esos-wizard-step>
</ng-container>

<ng-template #twoFaChanged>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel>Two factor authentication update request successfully submitted.</govuk-panel>
      <p class="govuk-body">We have sent you a confirmation email.</p>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        Until your request is approved, you must use your current authenticator to sign in the UK ETS reporting service.
      </p>
    </div>
  </div>
</ng-template>
