<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <govuk-error-summary *ngIf="isSummaryDisplayed" [form]="form"></govuk-error-summary>
    <form (ngSubmit)="submitPassword()" [formGroup]="form">
      <h2 class="govuk-heading-l">Reset your password</h2>
      <p class="govuk-body">Enter your new password</p>
      <esos-password [passwordLabel]="passwordLabel" [confirmPasswordLabel]="newPasswordLabel"> </esos-password>
      <button govukButton type="submit">Submit</button>
    </form>
  </div>
</div>
