<div class="govuk-!-width-two-thirds">
  <esos-wizard-step
    [formGroup]="formGroup"
    heading="What is the registered name of the Organisation? "
    caption="Organisation details"
    (formSubmit)="onSubmit()"
    [showBackLink]="true"
    [showCancelLink]="showCancelLink"
    [cancelLinkPath]="cancelLinkPath"
  >
    <p class="govuk-body">
      If you are a corporate group then this will be the legal entity that is making the notification on behalf of other
      legal entities within the corporate group. This may not necessarily be the highest UK parent company.
    </p>
    <div govuk-text-input formControlName="registeredName"></div>
  </esos-wizard-step>
</div>
