<ng-container *ngIf="(confirmed$ | async) === false; else paymentConfirmed">
  <govuk-error-summary *ngIf="isSummaryDisplayed$ | async" [form]="form"></govuk-error-summary>
  <esos-page-heading size="l">When was the payment received?</esos-page-heading>
  <form (ngSubmit)="submitForm()" [formGroup]="form">
    <div formControlName="receivedDate" govuk-date-input [max]="today" [isRequired]="true"></div>
    <button *ngIf="(store.isEditable$ | async) === true" esosPendingButton govukButton type="submit">
      Confirm and complete
    </button>
  </form>
  <esos-return-link
    [requestTaskType]="(store | async).requestTaskItem.requestTask.type"
    [requestMetadata]="(store | async).requestTaskItem.requestInfo.requestMetadata"
    returnLink=".."
  ></esos-return-link>
</ng-container>
<ng-template #paymentConfirmed>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel title="Payment marked as received"></govuk-panel>

      <ng-container *ngIf="shouldDisplayConfirmationInfo$ | async">
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">You can now review the application.</p>
      </ng-container>

      <esos-payment-summary [details]="details$ | async" [shouldDisplayAmount]="shouldDisplayAmount$ | async">
        <h2 esos-summary-header class="govuk-heading-m">Payment Summary</h2>
      </esos-payment-summary>

      <esos-return-link [requestType]="(store | async).requestType" [home]="true"></esos-return-link>
    </div>
  </div>
</ng-template>
