<ng-container [ngSwitch]="deleteStatus | async">
  <div *ngSwitchCase="'success'" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel
        [title]="(user$ | async | userFullName) + ' has been removed from the organisation account'"
      ></govuk-panel>
      <a
        *ngIf="(isCurrentUser$ | async) === false; else deletedSelf"
        [routerLink]="['/accounts', accountId$ | async]"
        fragment="users"
        govukLink
      >
        Return to the users and contacts page
      </a>
      <ng-template #deletedSelf>
        <ng-container [ngSwitch]="loginStatus$ | async">
          <ng-container *ngSwitchCase="'ENABLED'">
            <a govukLink routerLink="/dashboard">Go to my dashboard</a>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <a govukLink routerLink="/landing">Go to my dashboard</a>
          </ng-container>
        </ng-container>
      </ng-template>
    </div>
  </div>
  <ng-container *ngSwitchDefault>
    <esos-page-heading
      >Confirm that {{ user$ | async | userFullName }} will be removed from this organisation account</esos-page-heading
    >

    <div>
      <govuk-warning-text assistiveText="Warning"> You will not be able to undo this action.<br /> </govuk-warning-text>
      <p class="govuk-body">Any tasks currently assigned to this user will be automatically unassigned.</p>
      <p class="govuk-body">You may cancel and manually re-assign tasks before attempting to remove this user.</p>
    </div>

    <div class="govuk-button-group">
      <button (click)="confirm()" esosPendingButton govukWarnButton type="button">Confirm removal</button>
      <a [routerLink]="['/accounts', accountId$ | async]" fragment="users" govukLink>Cancel</a>
    </div>
  </ng-container>
</ng-container>
