<esos-page-heading size="xl">
  Accessibility statement for Manage Your UK Emissions Trading Scheme reporting service
</esos-page-heading>

<p class="govuk-body">
  This accessibility statement applies to the Manage your UK Emissions Trading Scheme reporting service website.
</p>
<p class="govuk-body">
  This website is run by the Department for Energy Security and Net Zero (DESNZ). We want as many people as possible to
  be able to use this website. For example, that means you should be able to:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>change colours, contrast levels and fonts</li>
  <li>zoom in up to 300% without the text spilling off the screen</li>
  <li>navigate most of the website using just a keyboard</li>
  <li>navigate most of the website using speech recognition software</li>
  <li>
    listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
  </li>
</ul>
<p class="govuk-body">We have also made the website text as simple as possible to understand.</p>
<p class="govuk-body">
  <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/" rel="noreferrer noopener">AbilityNet</a> has advice on
  making your device easier to use if you have a disability.
</p>

<h2 class="govuk-heading-l">How accessible this website is</h2>
<p class="govuk-body">We know some parts of this website are not fully accessible:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>there is a short timeout on the page</li>
  <li>some user interface elements do not have appropriate or sufficiently informative labels</li>
  <li>navigation via headings may be impeded</li>
  <li>users of speech recognition software may be unable to interact with all page elements</li>
  <li>you cannot skip to the main content when using an Android screen reader</li>
  <li>some user interface elements do not have a visible focus indicator</li>
</ul>

<h3 class="govuk-heading-m">Feedback and contact information</h3>
<p class="govuk-body">
  Contact us by emailing <a class="govuk-link" href="mailto:Mets@energysecurity.gov.uk"> Mets@energysecurity.gov.uk </a>
</p>
<p class="govuk-body">
  The website contains an interactive business process rather than static information, so the contents are not available
  in alternative formats.
</p>

<h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>
<p class="govuk-body">
  We are always looking to improve the accessibility of this website. If you find any problems not listed on this page
  or think we’re not meeting accessibility requirements, contact:
  <a class="govuk-link" href="mailto:Mets@energysecurity.gov.uk"> Mets@energysecurity.gov.uk </a>
</p>

<h3 class="govuk-heading-m">Enforcement procedure</h3>
<p class="govuk-body">
  The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and
  Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you are not happy
  with how we respond to your complaint, contact the
  <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" rel="noreferrer noopener">
    Equality Advisory and Support Service (EASS).
  </a>
</p>

<h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
<p class="govuk-body">
  The Department for Energy Security and Net Zero is committed to making its website accessible, in accordance with the
  Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<h3 class="govuk-heading-m">Compliance status</h3>
<p class="govuk-body">
  This website is partially compliant with the
  <a class="govuk-link" rel="noreferrer noopener" href="https://www.w3.org/TR/WCAG21/">
    Web Content Accessibility Guidelines version 2.1
  </a>
  AA standard, due to the non-compliances and exemptions listed below.
</p>

<h2 class="govuk-heading-l">Non-accessible content</h2>
<p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

<h3 class="govuk-heading-m">Non-compliance with the accessibility regulations</h3>
<p class="govuk-body"></p>
<p class="govuk-body">
  Some buttons lack an associated label or similar, this may result in screen readers not providing context for the
  button. This fails WCAG 2.1 success criterion 1.1.1 (Non-Text Content) We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Semantic markup is not used appropriately to structure tables, headings and lists. Empty elements are present which
  may be announced in an unexpected way. This fails WCAG 2.1 success criterion 1.3.1 (Info and Relationships). We plan
  to resolve this by October 2023.
</p>
<p class="govuk-body">
  Related form elements are not grouped which causes some checkboxes to be announced without context. This fails WCAG
  2.1 success criterion 1.3.1 (Info and Relationships) We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  An autocomplete attribute is incorrectly present on many fields which may cause confusion when completing forms. This
  fails WCAG 2.1 success criterion 1.3.5 (Info and Relationships)
</p>
<p class="govuk-body">We plan to resolve this by October 2023.</p>
<p class="govuk-body">
  A short time limit is present on the site with a very limited way to extend it. This fails WCAG 2.1 success criterion
  2.2.1 (Timing Adjustable We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  A correctly formed heading structure is not present to facilitate navigation across the site, with empty heading
  levels present. This fails WCAG 2.1 success criterion 2.4.1 (Bypass Blocks). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Page titles are not always appropriate or informative. The Accounts page has a title which does not reflect the page
  content. This fails WCAG 2.1 success criterion 2.4.2 (Page Titled). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  The focus order is not logical when using Android screen readers to navigate the page. This fails WCAG 2.1 success
  criterion 2.4.3 (Focus Order) We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Many identical links are not distinguished by accessible labels. ‘Change’ and ‘Delete’ links are present with no
  additional information to distinguish them. This fails WCAG 2.1 success criterion 2.4.4 Link Purpose (In Context). We
  plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Some pages cannot be found through more than one type of navigation. This fails WCAG 2.1 success criterion 2.4.5
  (Multiple Ways). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Some headings and labels are not sufficiently informative. This fails WCAG 2.1 success criterion 2.4.6 (Headings and
  Labels). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  A visible focus indicator is not present on the upload file functionality. This fails WCAG 2.1 success criterion 2.4.7
  (Focus Visible). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  The accessible label on table filter elements do not match the beginning of the displayed name which may cause
  navigation issues for users of speech recognition software. This fails WCAG 2.1 success criterion 2.5.3 Link Purpose
  (In Context). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Multiple validation errors are present across multiple webpages. This may result in some content announcing
  incorrectly. This fails WCAG 2.1 success criterion 4.1.1 (Parsing) We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  The ‘Skip to Main Content’ Call-To-Action does not function when using an Android screen reader. This fails WCAG 2.1
  success criterion 4.1.2 (Name, Role, Value) We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Markup has not been used to aid accessibility, with elements not using allowed ARIA attributes and ARIA roles not
  conforming to valid values. Elements assigned invalid ARIA role values are not interpreted by assistive technologies
  as intended. This fails WCAG 2.1 success criterion 4.1.2 (Name, Role, Value). We plan to resolve this by October 2023.
</p>
<p class="govuk-body">
  Changes in state may not always be announced by screen readers. This includes form submissions. This fails WCAG 2.1
  success criterion 4.1.3 (Status Messages) We plan to resolve this by October 2023.
</p>

<h3 class="govuk-heading-m">Disproportionate burden</h3>
<h4 class="govuk-heading-s">Interactive tools</h4>
<p class="govuk-body">
  The upload file function is unavailable whilst navigating using speech recognition software. This is a known flaw of
  speech recognition software.
</p>
<p class="govuk-body">
  We’ve assessed the cost of fixing the issues with interactive tools and transactions. We believe that doing so now
  would be a
  <a class="govuk-link" rel="noreferrer noopener" href="https://www.legislation.gov.uk/uksi/2018/952/regulation/7/made">
    disproportionate burden
  </a>
  within the meaning of the accessibility regulations.
</p>

<h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
<p class="govuk-body">This statement was prepared on 07 July 2023. It was last reviewed on 12 July 2023.</p>
<p class="govuk-body">This website was last tested on 06 July 2023. The test was carried out by Zoonou</p>
<p class="govuk-body">
  Zoonou used <a class="govuk-link" rel="noreferrer noopener" href="https://www.w3.org/TR/WCAG-EM"> WCAG-EM </a> to
  define the pages tested and test approach.
</p>

<div class="govuk-!-margin-bottom-9"></div>
<esos-back-to-top></esos-back-to-top>
