<div
  #container
  *ngIf="errorList$ | async as errorList"
  aria-labelledby="error-summary-title"
  class="govuk-error-summary"
  role="alert"
  tabindex="-1"
>
  <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <ng-container *ngFor="let errorItem of errorList">
        <ng-container *ngIf="errorItem">
          <li>
            <p class="highlight-error">{{ errorItem?.message }}</p>
            <govuk-details *ngIf="errorItem?.columns && errorItem?.rows" summary="View details">
              <p class="govuk-body">
                <span
                >Check the data in column '{{ errorItem?.columns }}' on rows
                  {{ getRowIndexes(errorItem?.rows).join(', ') }}
                </span>
              </p>
            </govuk-details>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>
