<ng-container *ngIf="(isConfirmationDisplayed$ | async) !== true; else regulatorDeleted">
  <h2 class="govuk-heading-l">
    Confirm that the user account of {{ regulator$ | async | userFullName }} will be deleted
  </h2>

  <govuk-warning-text>You will not be able to undo this action.</govuk-warning-text>
  <p class="govuk-body">All tasks currently assigned to this user will be automatically unassigned.</p>
  <p class="govuk-body">You may cancel and manually re-assign tasks before attempting to delete this user.</p>

  <div class="govuk-button-group">
    <button type="button" (click)="deleteRegulator()" esosPendingButton govukWarnButton>Confirm deletion</button>
    <a govukLink fragment="regulator-users" [routerLink]="['/user/regulators']">Cancel</a>
  </div>
</ng-container>

<ng-template #regulatorDeleted>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-panel title="The user account of {{ regulator$ | async | userFullName }} has been deleted"></govuk-panel>

      <a fragment="regulator-users" govukLink [routerLink]="['/user/regulators']">
        Return to the Regulator users page
      </a>
    </div>
  </div>
</ng-template>
