<form (ngSubmit)="onSubmit()" [formGroup]="decisionForm">
  <h2 class="govuk-heading-m">Approve or reject this account application</h2>
  <div
    formControlName="isAccepted"
    govuk-radio
    legend="Use your judgement to make minor changes within the details if needed"
  >
    <govuk-radio-option [value]="true" label="Approve">
      <div govukConditionalContent>
        <div formControlName="acceptanceReason" govuk-textarea [maxLength]="10000" label="Reason for acceptance"></div>
      </div>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="Reject">
      <div govukConditionalContent>
        <div formControlName="rejectionReason" govuk-textarea [maxLength]="10000" label="Reason for rejection"></div>
      </div>
    </govuk-radio-option>
  </div>
  <button esosPendingButton govukButton type="submit">Submit</button>
</form>
<hr class="govuk-!-margin-bottom-6" />
