<h2 esos-summary-header class="govuk-heading-m">User details</h2>
<dl govuk-summary-list class="govuk-!-margin-bottom-9">
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>First name</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.firstName }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Last name</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.lastName }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Job title</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.jobTitle }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Email address</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.email }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Address</dt>
    <dd govukSummaryListRowValue>
      {{ organisationParticipantDetails.line1 }} <br />
      <span *ngIf="organisationParticipantDetails?.line2 as line2">{{ line2 }}</span>
    </dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Town or city</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.city }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>County</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.county }}</dd>
  </div>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Postcode</dt>
    <dd govukSummaryListRowValue>{{ organisationParticipantDetails.postcode }}</dd>
  </div>
</dl>
