<esos-wizard-step
  [formGroup]="form"
  [heading]="heading"
  caption="{{ isFirstCompliancePeriod ? 'First compliance period' : 'Second compliance period' }}"
  (formSubmit)="submit()"
  [hideSubmit]="false"
  submitText="Save and continue"
  [showBackLink]="true"
>
  <p class="govuk-body">
    Enter the breakdown of the potential reduction in energy consumption that could have been achieved by implementing
    measures identified in the energy audit for the {{ isFirstCompliancePeriod ? 'first period' : 'second period' }}
  </p>

  <esos-energy-consumption-input [formGroup]="form"></esos-energy-consumption-input>

  <div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
    <h2 class="govuk-heading-m">Total</h2>
    <div class="govuk-body govuk-!-font-size-19">{{ total() }} kWh</div>
  </div>
</esos-wizard-step>
